<main>
  <section>
    <article>
      <h2>Buttons</h2>
      <p>Estilos reutilizáveis em botões usando mixins</p>
    </article>

    <div class="section-list-items">
      <button class="button-primary" role="button">Button primary</button>
      <button class="button-secondary" role="button">Button secondary</button>
    </div>
  </section>

  <section>
    <article>
      <h2>Alerts</h2>
      <p>Estilos reutilizáveis em alerts usando @extends</p>
    </article>

    <div class="section-list-items">
      <div class="alert-success">success</div>
      <div class="alert-warning">Warning</div>
      <div class="alert-error">error</div>
    </div>
  </section>

  <section>
    <article>
      <h2>Cards</h2>
      <p>usando o <code>@for</code> para alterar o tamanho dos cards</p>
    </article>

    <div class="section-list-items">
      <!-- Criando uma lista de cartões -->
      <div class="card">1</div>

      <div class="card">2</div>

      <div class="card">3</div>

      <div class="card">4</div>

      <div class="card">5</div>
    </div>
  </section>

  <section>
    <article>
      <h2>Divs</h2>
      <p>usando o <code>@each</code> para alterar a cor das divs</p>
    </article>

    <div class="section-list-items">
      <div class="element-red">Red</div>
      <div class="element-green">Green</div>
      <div class="element-blue">Blue</div>
      <div class="element-yellow">Yellow</div>
      <div class="element-purple">Purple</div>
    </div>
  </section>

  <section>
    <article>
      <h2>Lista</h2>
      <p>
        usando o <code>@while</code> para destacar os 5 primeiros de uma lista
      </p>
    </article>

    <div class="section-list-items">
      <div class="item item-1">Item 1</div>
      <div class="item item-2">Item 2</div>
      <div class="item item-3">Item 3</div>
      <div class="item item-4">Item 4</div>
      <div class="item item-5">Item 5</div>
      <div class="item item-6">Item 6</div>
      <div class="item item-7">Item 7</div>
      <div class="item item-8">Item 8</div>
      <div class="item item-9">Item 9</div>
      <div class="item item-10">Item 10</div>
    </div>
  </section>
</main>
