:root {
  //  buttons
  --color-white: #fff;
  --color-yellow: #ffcc00;
  --color-green: #33cc33;
  --color-red: #ff3300;
  --text-primary: #41403e;
  --box-shadow-button: rgba(0, 0, 0, 0.2);
  --button-background-secondary: #f5f5fa;
  --button-background-secondary-hover: #555;
}
